<html>

<body>

    <form action="/Register" method="POST">
        <br>
        Name : <input type="text" name="name" required> <br>
        email : <input type="email" name="email" required><br>
        password : <input type="text" name="password" required><br>
        phone : <input type="text" name="phone" required><br>
        <button type="submit"> hit </button>
    </form>

</body>

</html>