

<html>

    <body>

        <form action="/Login" method="POST">
           
            email : <input type="email"  name="email" required><br>
            password : <input type="text" name="password" required><br>
           
            <button name ="button" type="submit" value="submit"> hit </button>
        </form>

    </body>

</html>